@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/app/fonts/Roboto-Regular-webfont.woff");
}

@font-face {
  font-family: "Bruno Ace";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/app/fonts/brunoace-regular-webfont.woff2");
}

@theme {
  --color-primary: oklch(61.98% 0.224 339.85);
  --color-secondary: oklch(54.67% 0.19 328.04);
  --color-tertiary: oklch(33.08% 0.113 283.47);
  --color-light: oklch(95.03% 0.019 252.17);
  --color-alt-primary: oklch(58.8% 0.086 266.04);
  --color-alt-secondary: oklch(91.07% 0.088 199.64);
  --color-dark: oklch(14.89% 0 0);
  --color-disabled: oklch(85.452% 0.0001 271.152);
  --font-bruno: "Bruno Ace", serif;
  --font-roboto: Roboto, sans-serif;
}

@layer {
  body {
    color: var(--color-light);
    font-family: var(--font-roboto);
    font-size: 1.5rem;
    line-height: 100%;
    letter-spacing: 0%;
  }

  h1 {
    color: var(--color-alt-secondary);
    font-family: var(--font-bruno);
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 100%;
    text-transform: uppercase;
  }

  h2 {
    color: var(--color-alt-secondary);
    font-family: var(--font-bruno);
    font-weight: 400;
    font-size: 2rem;
  }

  h3 {
    color: var(--color-alt-secondary);
    font-family: var(--font-bruno);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 100%;
    letter-spacing: 0%;
  }

  h4 {
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

/*
html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
} */
